<div class='cart'>
  <ng-container *ngIf='state == State.Preview'>
    <table>
      <tr *ngFor='let item of items'>
        <td>{{item.name}}</td>
        <td>{{item.quantity}}@{{item.price}}</td>
      </tr>
      <tr></tr>
      <tr>
        <td>Subtotal:</td>
        <td>{{subTotal}}</td>
      </tr>
      <tr>
        <td>Taxes:</td>
        <td>{{taxes}}</td>
      </tr>
      <tr>
        <td>Total:</td>
        <td>{{total}}</td>
      </tr>
    </table>
    <button (click)='onHideClick()'>Close Cart</button>
    <button (click)='onOpenCheckout()'>Proceed to Checkout</button>
  </ng-container>
  <ng-container *ngIf='state == State.Checkout'>
    Name:<br>
    <input type='text' name='name' [disabled]='!(sendReceived || sendShipped)' /><br>
    Email:<br>
    <input type='text' name='email' [disabled]='!(sendReceived || sendShipped)' /><br>
    <input type='checkbox' (click)='onConfirmReceiveClick($event.target.checked)'>Send me a confirmation email with my fictitious order details.<br>
    <input type='checkbox' (click)='onConfirmShipClick($event.target.checked)'>Send me a notification email when my fictitious order ships.<br>
    <button (click)='onPlaceOrder()'>Place Fictitious Order</button>
  </ng-container>
  <ng-container *ngIf='state == State.Processing'>
    <div class='outer-div'>
      <div class='processing-animation'>
      </div>
    </div>
  </ng-container>
</div>
