<div class='cart'>
  <ng-container *ngIf='state == State.Preview'>
    <table>
      <tr *ngFor='let item of items'>
        <td>{{item.name}}</td>
        <td>{{item.quantity}}@{{item.price}}</td>
      </tr>
      <tr></tr>
      <tr>
        <td>Subtotal:</td>
        <td>{{subTotal}}</td>
      </tr>
      <tr>
        <td>Taxes:</td>
        <td>{{taxes}}</td>
      </tr>
      <tr>
        <td>Total:</td>
        <td>{{total}}</td>
      </tr>
    </table>
    <button (click)='onHideClick()'>Close Cart</button>
    <button (click)='onOpenCheckout()'>Proceed to Checkout</button>
  </ng-container>
  <ng-container *ngIf='state == State.Checkout'>
    Name:<br>
    <input #nameField type='text' [disabled]='!(sendReceived || sendShipped)' /><br>
    Email:<br>
    <input #emailField type='text' [disabled]='!(sendReceived || sendShipped)' /><br>
    <input type='checkbox' (click)='onConfirmReceiveClick($event.target.checked)'>Send me a confirmation email with my fictitious order details.<br>
    <input type='checkbox' (click)='onConfirmShipClick($event.target.checked)'>Send me a notification email when my fictitious order ships.<br>
    <button (click)='onPlaceOrder()'>Place Fictitious Order</button>
  </ng-container>
  <ng-container *ngIf='state == State.Processing'>
    <div class='outer-div'>
      <div class='processing-animation'>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf='state == State.Result'>
    <p *ngIf='customerName'>Thank you, {{customerName}}!</p>
    <ng-container *ngIf='orderResponse.success'>
      <p>Your fictitious order has been placed (order ID: {{orderResponse.orderId}}).</p>
      <p *ngIf='sendReceived'>A confirmation email containing your order details has been sent to {{customerEmail}}.</p>
      <p>You can watch your order being processed in real-time <a href="Distribution-Centre/view">here</a>!</p>
    </ng-container>
    <ng-container *ngIf='!orderResponse.success'>
      <p>Unfortunately, we are unable to place your fictitious order at this time.</p>
      <p *ngIf='orderResponse.error=="invalid_order_request_format"'>An error in the order request was encountered.</p>
      <p *ngIf='orderResponse.error=="server_side"'>Our servers are experiencing technical issues.</p>
      <p *ngIf='orderResponse.error=="customer_info_refused"'>An invalid email was entered.</p>
      <p *ngIf='orderResponse.error=="insufficient_stock"'>There is insufficient stock to satisfy your request.</p>
      <p *ngIf='orderResponse.error=="maximum_items_exceeded"'>Each order is restricted to a maximum of twelve items.</p>
      <p *ngIf='orderResponse.error=="maximum_orders_exceeded"'>We are experiencing unusually high volumes of orders.</p>
      <p>Please try again.</p>
      <p>You can view our distribution centre in real-time <a href="Distribution-Centre/view">here</a>!</p>
    </ng-container>
  </ng-container>
</div>
