.page-select-container {
	display: flex;
	justify-content: space-between;
}

.page-choice {
	display: flex;
}

.n-items {
	display: flex;
}

button {
	margin: 2px;
	min-width: 30px;
	border-style: none;
	border-radius: 15%;
	background-color: lightgrey;
}

button:hover {
	background-color: orange;
}

button.selected {
	background-color: orange;
}