<div class="page-select-container">
  <div class="page-choice">
    <ng-container *ngIf="pageInfo.pages">
      <ng-container>
      </ng-container>
      <button *ngFor='let item of [].constructor(pageInfo.pages); let pg = index' value='{{pg+1}}' (click)='onPageClick($event.target.value)'>{{pg+1}}</button>
    </ng-container>
  </div>
  <div class="n-items">
    <button value=5 (click)='onItemsClick($event.target.value)'>5</button>
    <button value=10 (click)='onItemsClick($event.target.value)'>10</button>
    <button value=15 (click)='onItemsClick($event.target.value)'>15</button>
    <button value=20 (click)='onItemsClick($event.target.value)'>20</button>
    <p>per page</p>
  </div>
</div>
